<% if @disable_menu.nil? %>
    <%= render :partial => 'control_list_factors/menu' %>
<% end %>

<table width="100%">
    <tr>
        <td align="center" colspan="4"><b>Контрольный лист по охране труда №<%= @control_list_month.id %></b><br></td>
    </tr>

    <tr>
        <td colspan="4">Наименование структурного подразделения&nbsp;
            <span style="text-decoration: underline;"><%= @control_list_month.subdivision.name %>&nbsp;</span>

    </tr>
    <tr>
        <td colspan="4">
            Наименование производственного участка&nbsp;
            <span style="text-decoration: underline;"><%= @control_list_month.subdivision.area.name %>&nbsp;</span>
        </td>
    </tr>
    <tr>
        <td colspan="4">Должность
            проверяющего&nbsp;<span style="text-decoration: underline"><%= @control_list_month.author.position %>&nbsp;</span>


        </td>

    </tr>
    <tr>
        <td colspan="4"> ФИО
            проверяющего&nbsp;<span style="text-decoration: underline"><%= @control_list_month.author.full_name %></span>
        </td>

    </tr>
    <tr>
        <td colspan="4">Дата составления контрольного
            листа&nbsp;<span style="text-decoration: underline"><%= @control_list_month.form_date.to_s %></span></td>

    </tr>
</table>
<br>
<table border="1" cellpadding="4" cellspacing="0" width="100%">

    <th>№<br>п/п</th>
    <th>Оценочный фактор</th>
    <th>Соответствие требованиям охраны труда<br>(да/нет)</th>
    <th>Выявленные несоответствия<br>(заполняется при наличии несоответствий)</th>
    <th>Срок исполнения и ответственный</th>
    <th>Принятые меры по устранению несоответствий</th>
    <th>Отметка о выполнении</th>
    <% ControlListFactorGroup.order('order_num asc').all.each do |g| %>
        <tr>
            <td align="center" colspan="7"><b><%= g.name %></b></td>
        </tr>

        <!-- Iterating factors-->
        <% g.control_list_factors.order('order_num asc').all.each do |f| %>
            <tr>
                <td><%= f.order_num %></td>
                <td><%= f.factor %></td>
                <% y= @control_list_links.where(:control_list_factor_group_id => g.id).where(:control_list_factor_id => f.id) %>
                <% if y.any? %>
                    <% y.all.each do |c| %>
                        <td>НЕТ</td>
                        <td><%= c.inconsistency %></td>
                        <td><%= c.date_due || '-' %><br><%= c.user.full_name %></td>
                        <td><%= c.note_measures %></td>
                        <td><%= c.note_due %></td>
                    <% end %>
                    <!-- present-->
                <% else %>
                    <!-- nothing-->
                    <td align="center">ДА</td>
                    <td align="center">-</td>
                    <td align="center">-</td>
                    <td align="center">-</td>
                    <td align="center">-</td>
                <% end %>
            </tr>

        <% end %>
    <% end %>

</table>

<script type="text/javascript">
    $('#clmonth').addClass('active')
</script>

<% if @disable_menu.nil? %>
    <%= link_to 'К списку листов', control_list_months_path %>
<% end %>