<script>
    $('#issues').addClass("active")
</script>
<%= form_for(@issue) do |f| %>
    <% if @issue.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@issue.errors.count, "ошибок") %> препятствуют сохранению:</h2>

            <ul>
                <% @issue.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>




    <div class="form-group">
        <%= f.label 'ФИО лица, выявившего нарушение ' %><br>
        <input class="form-control" type="text" placeholder="" disabled="" value="<%= @logged_user.full_name %>">
    </div>
    <div class="form-group">
        <%= f.label 'Дата проверки ' %><br>

        <input type="text" value="<%= @issue.created_at.to_s %>" class='form-control' readonly>

    </div>

    <div class="form-group">
        <%= f.label 'ФИО нарушителя' %><br>
        <%= f.collection_select(:violator_id, User.all.sort_by{|x| x['lastname']}, :id, :full_name, {}, {:class => ' form-control input'}) %>
    </div>
    <div class="form-group">
        <%= f.label 'Статус нарушения' %> <br>
        <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {:class => ' form-control input'}) %>
    </div>



    <div class="form-group">
        <%= f.label 'Ответственный за устранение' %><br>
        <%= f.collection_select(:assigned_id, User.all, :id, :full_name, {}, {:class => ' form-control input'}) %>
    </div>
    <div class="form-group">
        <%= f.label 'Рабочее место' %><br>

        <%= f.collection_select(:work_space_id, @workspaces, :id, :name, {}, {multiple: false, :class => ' form-control input'}) %>
    </div>
    <div class="form-group">
        <%= f.label 'Выявленное нарушение' %> <br>
        <% if @workspaces.nil? %>
            <div class="alert  alert-warning">

                <strong>Нет доступных видов нарушения для вашего рабочего места</strong>

            </div>
        <% else %>
            <%= f.collection_select(:issue_type_id, @workspaces.first.issue_types, :id, :name, {}, {:class => ' form-control input'}) %>

        <% end %>

    </div>
    <div class="form-group">
        <%= f.label 'Расшифровка' %><br>
        <%= f.text_field(:clarification, {:class => ' form-control input'}) %>
    </div>
    <div class="form-group">
        <%= f.label 'Отметка о выполнении' %><br>
        <%= f.text_field(:note_due, {:class => ' form-control input'}) %>
    </div>
    <div class="form-group">
        <%= f.label 'Оперативные меры' %><br>
        <%= f.text_field(:note_measures, {:class => ' form-control input'}) %>
    </div>
    <div class="form-group">
        <%= f.label 'Дата выполнения' %><br>

        <div class="input-group date">

            <%= f.text_field(:due_date, :value => @issue.due_date.strftime("%d.%m.%Y %H:%M") || '', :class => ' form-control input date') %>
        </div>
    </div>

    <div class="form-group">
        <%= f.submit({:class => 'btn btn-primary', :id => 'issue_add'}) %>
    </div>
    <script>
        function fixOldIt() {
            <% unless @issue.new_record?  %>

            <% unless @issue.issue_type.nil?%>
            $('#issue_issue_type_id').find('option').each(function () {
                console.log($(this).val())
                if ($(this).val().toString() == '<%= @issue.issue_type.id %>') {
                    $(this).attr('selected', true);
                }

            });
            <%end%>
            <%end%>
        }

        $(document).ready(function () {

            $('.input-group .date').datetimepicker({
                locale: 'ru'
            });

            getissuetypes()
            $('#issue_work_space_id').change(function () {
                getissuetypes();
            })


        });


        function getissuetypes() {

            var value = $('#issue_work_space_id option:selected').val()

            console.log(value)
            $.getJSON('/work_spaces/get_issue_types.json',
                    {
                        work_space_id: value
                    }
            ).done(function (json) {
                        $('#issue_issue_type_id').find('option').remove().end()
                        $.each(json, function (k, v) {

                            $('#issue_issue_type_id').append($("<option></option>")
                                    .attr("value", v.id)
                                    .text(v.name));

                        })
                        fixOldIt()
                        if (json.length == 0) {
                            $('#issue_add').hide()
                        }
                        else {

                            $('#issue_add').show()
                        }
                    })
        }
    </script>

<% end %>
