<%= form_for(@issue) do |f| %>
    <% if @issue.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

            <ul>
                <% @issue.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label 'ФИО лица, выявившего нарушение ' %><br>
        <input class="form-control" type="text" placeholder="" disabled="" value="<%= @logged_user.full_name %>">
    </div>

    <div class="form-group">
        <%= f.label 'ФИО нарушителя' %><br>
        <%= f.collection_select(:violator_id, User.all, :id, :full_name, {}, {:class => ' form-control input'}) %>
    </div>
    <div class="form-group">
        <%= f.label 'Статус нарушения' %> <br>
        <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {:class => ' form-control input'}) %>
    </div>

    <div class="form-group">
        <%= f.label 'Выявленное нарушение' %> <br>
        <% if @issue_types.nil? %>
            <div class="alert  alert-warning">

                <strong>Нет доступных видов нарушения для вашего рабочего места</strong>

            </div>
        <% else %>
            <%= f.collection_select(:issue_type_id, @issue_types, :id, :name, {}, {:class => ' form-control input'}) %>

        <% end %>

    </div>
    <div class="form-group">
        <%= f.submit({:class => 'btn btn-primary', :id => 'issue_add'}) %>
    </div>
    <script>
        <% if @issue_types.nil? %>
        $('#issue_add').hide()
        <%end%>
    </script>
<% end %>
