<form class="form-inline" method="get">

    <div class="form-group" style="position: relative">
        <label>С</label>
        <input value="<%= (@from).strftime("%d.%m.%Y") %>" class="form-control input date input-sm" type="text" id="from" name="from">
    </div>

    <div class="form-group" style="position: relative">
        <label>По</label>
        <input value="<%= (@to).strftime("%d.%m.%Y") %>" class="form-control input date input-sm" type="text" id="to" name="to">
    </div>
    <div class="form-group" style="position: relative">
        <label>рабочее место</label>
        <%= collection_select(:work_space, :id, @workspaces, :id, :name, {}, {:class => 'form-control input-sm', :multiple => true}) %>
        <script>
            <% @ws.each do |w| %>

            $("#work_space_id option[value=<%= w %>]").prop('selected', true)
            <%end%>
        </script>
    </div>

    <input type="submit" value="Выбрать" class="btn btn-primary btn-sm">

</form>
<br>
<style>
    table tr td {
        padding: 0px;
    }
</style>

<table id="tbl2"
       data-toggle="table"
       data-url="<%= request.fullpath+'?&format=json' %>"
       data-cache="true"
       data-show-pagination-switch="true"
       data-page-list="[10,20,50,100,500]"
       data-page-size="50"
       data-pagination="true"
       data-show-columns="true"
       data-search="true"
       data-show-toggle="true"
       data-show-refresh="true"
       class="table-striped"
       data-cookie="true"
       data-cookie-id-table="issues_<%= save_name %><%= @logged_user.login %>"
       data-sort-name="id">

    <thead>
    <tr>
        <th data-field="id" data-sortable="true" data-formatter="colorer">ID</th>
        <th data-field="author" data-sortable="true">Выявил</th>
        <th data-field="created" data-sortable="true" data-formatter="created_human">Дата проверки</th>
        <th data-field="violator" data-sortable="true">Нарушитель</th>
        <th data-field="status" data-sortable="true">Статус</th>
        <th data-field="issue_type" data-sortable="true">Нарушение</th>
        <th data-field="assigned" data-sortable="true">Ответственный</th>
        <th data-field="due_date" data-sortable="true" data-formatter="due_date_human">Дата</th>
        <th data-field="workspace" data-sortable="true">Рабочее место</th>
        <th data-field="note_measures" data-sortable="true">Меры</th>
        <th data-formatter="actions">Действия</th>
    </tr>
    </thead>
</table>
<br>
<script type="text/javascript">
    function actions(value, row) {
        return '<a class="btn glyphicon glyphicon-edit btn-primary  btn-sm" href="' + row.url + '/edit"></a>'
    }

    function created_human(value, row) {
        return row.created_human
    }
    function due_date_human(value, row) {
        return row.due_date_human
    }
    function colorer(value, row) {
        return '<span style="background-color: ' + row.color + '">' + row.id + '</span>';
    }

    function query_p() {
        return {format: 'json'}
    }
</script>

<script>
    $(function () {
        $('.form-group #from').datetimepicker({
            locale: 'ru',
            showTodayButton: true,
            format: 'DD.MM.YYYY'
        });
        $('.form-group #to').datetimepicker({
            locale: 'ru',
            showTodayButton: true,
            format: 'DD.MM.YYYY'
        });
        $('#tbl2').on('load-success.bs.table', function (data) {
            $('.dropdown-toggle').dropdown();
        });
        $('#tbl2').on('onPageChange', function (number, size) {
            $('.dropdown-toggle').dropdown();
        });
        //onPageChange
    });
</script>

<br>


