

<p>
  <strong>Belongs to:</strong>
  <%= @issue.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @issue.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @issue.belongs_to %>
</p>

<p>
  <strong>Close date:</strong>
  <%= @issue.close_date %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
