<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2>Следующие ошибки мешают созданию пользователя:</h2>

            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="container-fluid">

        <div class="form-group">
            <%= f.label 'Логин' %>
            <%= f.text_field(:login, {:class => 'form-control', :placeholder => 'Логин пользователя'}) %>
        </div>
        <div class="form-group">
            <%= f.label 'Пароль' %>
            <%= f.text_field(:password, {:class => 'form-control', :placeholder => 'Пароль пользователя'}) %>
        </div>
        <div class="form-group">
            <%= f.label 'Активен' %>
            <%= f.check_box(:is_active, {:class => 'checkbox', :placeholder => 'Имя'}) %>
        </div>
        <div class="form-group">
            <%= f.label 'Имя' %>
            <%= f.text_field(:first_name, {:class => 'form-control', :placeholder => 'Имя'}) %>
        </div>
        <div class="form-group">
            <%= f.label 'Фамилия' %>
            <%= f.text_field(:last_name, {:class => 'form-control', :placeholder => 'Фамилия'}) %>
        </div>
        <div class="form-group">
            <%= f.label 'Отчество' %>
            <%= f.text_field(:middle_name, {:class => 'form-control', :placeholder => 'Отчество'}) %>
        </div>
        <div class="form-group">
            <%= f.label 'Роль' %>
            <%= f.collection_select(:staff_role_id, @staff_roles, :id, :name, {}, {:class => ' form-control '}) %>
        </div>
        <div class="form-group">
            <%= f.label 'Подразделение' %>
            <% if @subdivisions.nil? %>
                <%= f.collection_select(:subdivision_id, Subdivision.all, :id, :name, {}, {:class => ' form-control '}) %>
            <% else %>
                <%= f.collection_select(:subdivision_id, @subdivisions, :id, :name, {}, {:class => ' form-control '}) %>
            <% end %>
        </div>
        <div class="form-group">
            <%= f.label 'Должность' %>
            <%= f.text_field(:position, {:class => ' form-control '}) %>
        </div>

        <div class="actions">
            <%= f.submit({:class => 'btn btn-primary'}) %>
        </div>
    </div>
<% end %>
<script type="text/javascript">
    $('#users').addClass('active');
</script>
