<%= form_for(@control_list_quarter_factor_group) do |f| %>
  <% if @control_list_quarter_factor_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@control_list_quarter_factor_group.errors.count, "error") %> prohibited this control_list_quarter_factor_group from being saved:</h2>

      <ul>
      <% @control_list_quarter_factor_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
        <%= f.label 'Порядок сортировки' %><br>
        <%= f.number_field :order_num, :class =>'form-control input' %>
    </div>
    <div class="form-group">
        <%= f.label 'Наименование' %><br>
        <%= f.text_field :name, :class => 'form-control input' %>
    </div>
    <div class="form-group">
        <%= f.submit(:class=>'btn btn-primary') %>
    </div>
<% end %>
