<%= form_for(@turn) do |f| %>
    <% if @turn.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

            <ul>
                <% @turn.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :day_date %><br>
        <%= f.date_select :day_date %>
    </div>
    <div class="field">
        <%= f.label 'Схема смен' %><br>
        <%= f.collection_select(:turn_type_id, TurnType.all, :id, :name, {}, {:class => ' form-control '}) %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
