<p id="notice"><%= notice %></p>

<h1>Listing Turns</h1>

<table>
  <thead>
    <tr>
      <th>Day date</th>
      <th>First time</th>
      <th>First duration</th>
      <th>Second time</th>
      <th>Second duration</th>
      <th>Is dayoff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turns.each do |turn| %>
      <tr>
        <td><%= turn.day_date %></td>
        <td><%= turn.first_time %></td>
        <td><%= turn.first_duration %></td>
        <td><%= turn.second_time %></td>
        <td><%= turn.second_duration %></td>
        <td><%= turn.is_dayoff %></td>
        <td><%= link_to 'Show', turn %></td>
        <td><%= link_to 'Edit', edit_turn_path(turn) %></td>
        <td><%= link_to 'Destroy', turn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turn', new_turn_path %>
