<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <th>Рабочее место</th>
            <th>Первая смена</th>
            <th>Вторая смена</th>
            <% @workspaces.all.each do |w| %>
                <% id, name, fs, ls= TurnType.turn_times(w.id) %>
                <tr>
                    <td><%= name %></td>
                    <td>
                        <% if fs== -1 %>
                            Закрыта
                        <% else %>
                            <% if fs <=0 %>
                                Завершена
                            <% else %>
                                <%= TurnType.humanize(fs) %><br>
                                <a href="<%= close_turn_turn_types_path(:id => id, :first => true, :format => 'json') %>" data-remote="true" data-method="post" data-name="<%= name %>" data-number="1" class="btn btn-xs btn-primary">Закрыть</a>
                            <% end %>
                        <% end %>
                    </td>
                    <td>
                        <% if ls==-1 %>
                            Закрыта
                        <% else %>

                            <% if ls<=0 %>
                                Завершена
                            <% else %>
                                <%= TurnType.humanize(ls) %><br>
                                <a href="<%= close_turn_turn_types_path(:id => id, :second => true) %>" data-method="post" data-remote="true" data-name="<%= name %>" data-number="2" class="btn btn-xs btn-primary">Закрыть</a>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>