<% @date =Date.today
   day = @date.end_of_month.day
%>
<style>


    .row-centered {
        text-align: center;
    }

    .col-centered {
        display: inline-block;
        float: none;
        /* reset the text-align */
        text-align: left;
        /* inline-block space fix */
        margin-right: -4px;
    }
</style>
<div class="container">
    <div class="row row-centered">
        <div id="d_1" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: green">1
            <hr style="border:1px solid black;-webkit-transform: rotate(-45deg); width:106px;">
        </div>
        <div id="d_2" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: green">2</div>
        <div id="d_3" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: blue">3</div>
    </div>
    <div class="row row-centered">
        <div id="d_4" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: magenta">4</div>
        <div id="d_5" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: orange">5</div>
        <div id="d_6" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: blue">6</div>
    </div>
    <div class="row row-centered">
        <div id="d_7" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: magenta">7</div>
        <div id="d_8" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: orange">8</div>
        <div id="d_9" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: blue">9</div>
        <div id="d_10" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: lightblue">10</div>
        <div id="d_11" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: orange">11</div>
        <div id="d_12" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: purple">12</div>
        <div id="d_13" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: blue">13</div>
    </div>
    <div class="row row-centered">
        <div id="d_14" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: yellow">14</div>
        <div id="d_15" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: purple">15</div>
        <div id="d_16" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: black">16</div>
        <div id="d_17" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: grey">17</div>
        <div id="d_18" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: #408140">18</div>
        <div id="d_19" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: darkcyan">19</div>
        <div id="d_20" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: yellowgreen">20</div>
    </div>
    <div class="row row-centered">
        <div id="d_21" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: yellow">21</div>
        <div id="d_22" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: purple">22</div>
        <div id="d_23" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: black">23</div>
        <div id="d_24" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: grey">24</div>
        <div id="d_25" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: #408140">25</div>
        <div id="d_26" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: darkcyan">26</div>
        <div id="d_27" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: yellowgreen">27</div>
    </div>
    <div class="row row-centered">
        <div id="d_28" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: red">
            <% if day >= 28 %>
                <%= '28' %>
            <% else %>
                <%= '&nbsp;' %>
            <% end %>
        </div>
        <div id="d_29" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: navajowhite">
            <% if day >= 29 %>
                <%= '29' %>
            <% else %>
                <%= '&nbsp;' %>
            <% end %></div>
        <div id="d_30" class="col-lg-2 col-centered" style="width: 75px;height: 75px; border: 1px solid black;background-color: blue">
            <% if day >= 30 %>
                <%= '30' %>
            <% else %>
                <%= '&nbsp;' %>
            <% end %></div>
    </div>
    <div class="row row-centered">
        <div id="d_31" class="col-lg-2 col-centered" style="width: 75px;height: 75px;border: 1px solid black; background-color: magenta">
            <% if day >= 31 %>
                <%= '31' %>
            <% else %>
                <%= '&nbsp;'.html_safe %>
            <% end %></div>
        <div class="col-lg-2 col-centered" style="width: 75px;height: 75px;border: 1px solid black; background-color: white">&nbsp;</div>
        <div class="col-lg-2 col-centered" style="width: 75px;height: 75px;border: 1px solid black; background-color: white">&nbsp;</div>
    </div>

</div>


