<style>







    .green {
        background-color: rgb(151, 208, 119);

    }
    .yellow {
        background-color: rgb(255, 255, 0);
    }

    .orange {
        background-color: rgb(255, 181, 112);
    }

    .blue {
        background-color: #7EA6E0;
    }

    .red {
        background-color: #EA6B66;
    }


    .triangle-topleft {
        width: 0;
        height: 0;
        border-right: 60px solid transparent;
        display: inline-block;

    }

    .trg-tl-green {
        border-top: 60px solid rgb(151, 208, 119);
    }

    .trg-tl-yellow {
        border-top: 60px solid rgb(255, 255, 0);
    }

    .trg-tl-orange {
        border-top: 60px solid rgb(255, 181, 112);
    }

    .trg-tl-blue {
        border-top: 60px solid #7EA6E0;
    }

    .trg-tl-red {
        border-top: 60px solid #EA6B66;
    }



    .triangle-bottomright {
        width: 0;
        height: 0;
        border-left: 60px solid transparent;
        display: inline-block;

    }

    .mrg {
        margin-left: -64px;
    }


    .trg-tb-green {
        border-bottom: 60px solid rgb(151, 208, 119);
    }

    .trg-tb-yellow {
        border-bottom: 60px solid rgb(255, 255, 0);
    }

    .trg-tb-orange {
        border-bottom: 60px solid rgb(255, 181, 112);
    }

    .trg-tb-blue {
        border-bottom: 60px solid #7EA6E0;
    }

    .trg-tb-red {
        border-bottom: 60px solid #EA6B66;
    }












    .row-centered {
        text-align: center;
    }

    .col-centered {
        display: inline-block;
        float: none;
        /* reset the text-align */
        text-align: left;
        /* inline-block space fix */
        margin-right: -4px;
    }

    .triangle-topleft {
        width: 0;
        height: 0;
        border-right: 60px solid transparent;
        display: inline-block;

    }

    .triangle-bottomright {
        width: 0;
        height: 0;
        border-left: 60px solid transparent;
        display: inline-block;

    }

    .mrg {
        margin-left: -73px;
    }
</style>

<script>


    function getCalendarData() {
        if ($('#month').html().toString().length != 7) {

            return false;
        }
        $.each($("div[id^='day_']"), function () {
            $(this).html("&nbsp;")
            $(this).css("background-color", "white")
        });


        $.ajax({
            url: "/issues/monthly.json",
            data: {
                date: $('#month').html(),
                work_space_id: $('#ws_id_work_space_id').val()
            },
            cache: true,
            type: "GET",
            dataType: "json",
            statusCode: {
                304: function () {
                    console.log("data cached not rewrite");
                },
                200: function (json, status, xhr) {

                    $("#data").val(json.length)

                    $.each(json, function (k, v) {
                        var day = (k + 1).toString()
                        if (v.c.indexOf(",") != -1) {
                            var colorz = v.c.split(',')
                            c1 = colorz[0]
                            c2 = colorz[1]
//                            $("#day_" + day).addClass('triangle-topleft').addClass('trg-tl-green').removeAttr('style')
//                            $('#day_' + day).html(day)
                            $("#day_" + day).append("<div class=\"triangle-topleft trg-tl-green\">"+day+"</div>\n  <div class=\"triangle-bottomright trg-tb-red mrg\"></div>").removeAttr('style')
                           // $('#day_' + day).html(day)

                        } else {
                            $("#day_" + day).css("background-color", v.c)
                            $('#day_' + day).html(day)
                        }

                    })
                    $('#info_date').html($('#month').html())


                }
            }
        }).done(function (json) {


        })
    }

    $(document).ready(function () {
        $('.input-group .date').datetimepicker({
            locale: 'ru',
            format: 'MM.YYYY'
        });
        $('#ws_id_work_space_id').change(function () {
            getCalendarData();
            console.log($('#ws_id_work_space_id').val())
        })
        setInterval(getCalendarData, 60000)
        getCalendarData()
    });

</script>
<br>
<div class="row ">

    <div class="col-lg-1"><label>Рабочее место</label></div>
    <% unless @workspaces.nil? %>
        <div class="col-lg-3 "><%= collection_select(:ws_id, :work_space_id, @workspaces, :id, :name, {}, {multiple: false, :class => ' form-control input'}) %> </div>
    <% end %>

</div>
<div class="container">

    <div class="row row-centered">
        <h2 id="info_date"><%= (Time.current).strftime("%m.%Y") %></h2>
        <br><br>
    </div>
    <div class="row row-centered">
        <div id="day_1" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">1</div>
        <div id="day_2" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">2</div>
        <div id="day_3" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">3</div>
    </div>
    <div class="row row-centered">
        <div id="day_4" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black; background-color: white;">4</div>
        <div id="day_5" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">5</div>
        <div id="day_6" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">6</div>
    </div>
    <div class="row row-centered">
        <div id="day_7" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">7</div>
        <div id="day_8" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">8</div>
        <div id="day_9" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">9</div>
        <div id="day_10" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">10</div>
        <div id="day_11" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">11</div>
        <div id="day_12" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">12</div>
        <div id="day_13" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">13</div>
    </div>
    <div class="row row-centered">
        <div id="day_14" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">14</div>
        <div id="day_15" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">15</div>
        <div id="day_16" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">16</div>
        <div id="day_17" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">17</div>
        <div id="day_18" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">18</div>
        <div id="day_19" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">19</div>
        <div id="day_20" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">20</div>
    </div>
    <div class="row row-centered">
        <div id="day_21" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">21</div>
        <div id="day_22" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">22</div>
        <div id="day_23" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">23</div>
        <div id="day_24" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">24</div>
        <div id="day_25" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">25</div>
        <div id="day_26" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">26</div>
        <div id="day_27" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">27</div>
    </div>
    <div class="row row-centered">
        <div id="day_28" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">28</div>


        <div id="day_29" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">29</div>
        <div id="day_30" class="  col-centered" style="width: 60px;height: 60px; border: 1px solid black;background-color: white">30</div>
    </div>
    <div class="row row-centered" id="footer2">
        <div id="day_31" class="  col-centered" style="width: 60px;height: 60px;border: 1px solid black; background-color: white">31</div>
        <div id="day_32" class="  col-centered" style="width: 60px;height: 60px;border: 1px solid black; background-color: white">&nbsp;</div>
        <div id="day_33" class="  col-centered" style="width: 60px;height: 60px;border: 1px solid black; background-color: white">&nbsp;</div>
    </div>


    <% if current_user.nil? %>
        <div class="alert  alert-warning row row-centered">

            <h4>Внимание!</h4>

            <p>Необходимо ввести нарушения! Нажмите "Авторизация" для продолжения.</p>
        </div>
    <% end %>
</div>
<div class="row col-lg-5 pull-left">
    <button class="btn btn-primary btn-sm" id="prev_month"><%= (Time.current-1.month).strftime("%m.%Y") %></button>
    <button class="btn btn-success btn-sm " id="month"><%= (Time.current).strftime("%m.%Y") %></button>
    <button class="btn btn-primary btn-sm" id="next_month"><%= (Time.current+1.month).strftime("%m.%Y") %></button>
</div>
<script>

    $('#month').click(function () {

        getCalendarData()

    })


    $("#next_month").click(function () {
        var pm = ''
        var cm = ''
        var cd = $('#month').html()
        $.getJSON("/issues/next_date.json", {offset: 1, date: $('#month').html()}).done(function (json) {
            console.log(json);
            pm = json.toString()
            $.getJSON("/issues/next_date.json", {offset: 2, date: $('#month').html()}).done(function (json) {
                console.log(json);
                cm = json.toString()
                $('#prev_month').html(cd)
                $('#month').html(pm)
                $('#next_month').html(cm)
                $('#month').click()
            })
        })

        console.log(pm, cd, cm)


    });


    $("#prev_month").click(function () {
        var pm = ''
        var cm = ''
        var cd = $('#month').html()
        $.getJSON("/issues/next_date.json", {offset: -1, date: $('#month').html()}).done(function (json) {
            console.log(json);
            pm = json.toString()
            $.getJSON("/issues/next_date.json", {offset: -2, date: $('#month').html()}).done(function (json) {
                console.log(json);
                cm = json.toString()
                $('#prev_month').html(cm)
                $('#month').html(pm)
                $('#next_month').html(cd)
                $('#month').click()
            })

        })

        console.log(pm, cd, cm)


    });
</script>


