<ul class="nav nav-pills">

    <li id="krestall"><%= link_to('Посуточно', work_by_day_in_month_path) %></li>
    <!--<li id="krestacombined"><%= link_to('По АРМ', work_by_ws_id_path) %></li>-->
    <li id="krest_ws"><%= link_to('По рабочим местам', work_user_info_path) %></li>
    <% unless @current_user_id.nil? %>
        <li id="krest_wassigned"><%= link_to('Назначенные', assigned_issues_path) %></li>
        <li id="krest_owned"><%= link_to('Введенные', owned_issues_path) %></li>
    <% end %>
    <li id="krest_mini"><%= link_to('По АРМ', work_mini_viev5x_path) %></li>
</ul>

<script type="text/javascript">
    $('#krest').addClass('active')
</script>