<%= render :partial => 'work/menu' %>
<% if !@workspaces.nil? %>
    <div class="row">
        <div class="col-md-offset-8 col-md-2">
            <div><%= render :partial => 'issues/travma' %></div>
        </div>
    </div>
    <% @workspaces.all.each_with_index do |item, index| %>

        <% if index.even? %>

            <div class="row">
                <div class="col-lg-5">
                    <h4 style="color: #975300"><%= item.name %></h4>
                    <%= render :partial => 'work/krest_view', :locals => {:@works_id => item.id} %>
                </div>
        <% else %>
            <div class="col-lg-5">
                <h4 style="color: #975300"><%= item.name %></h4>
                <%= render :partial => 'work/krest_view', :locals => {:@works_id => item.id} %>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                </div>
            </div>
        <% end %>
    <% end %>
<% else %>

    <b>Работа в анонимном режиме запрещена или к вашему АРМ не привязаны РАБОЧИЕ МЕСТА </b>

<% end %>
<br>
<% if current_user %>

<% else %>
    <%= link_to 'Авторизация', new_user_session_path, :class => 'btn btn-success pull-right' %>
<% end %>
<script type="text/javascript">
    $('#krestacombined').addClass('active')
</script>