<%= render :partial => 'work/menu' %>

<% if !@workspaces.nil? %>

    <% @workspaces.all.each_with_index do |item, index| %>
        <div data-scroll="true"></div>

        <% if index%3==0 %>

            <div class="row row-centered">
                <div class="col-md-3">
                    <label style="color: #975300"><%= item.name %></label>
                    <%= render :partial => 'work/krest_view_mini', :locals => {:@works_id => item.id} %>
                </div>
        <% end %>
        <% if index%3==1 %>
            <div class="col-md-3">
                <label style="color: #975300"><%= item.name %></label>
                <%= render :partial => 'work/krest_view_mini', :locals => {:@works_id => item.id} %>
            </div>
        <% end %>
        <% if index%3==2 %>
            <div class="col-md-3">
                <label style="color: #975300"><%= item.name %></label>
                <%= render :partial => 'work/krest_view_mini', :locals => {:@works_id => item.id} %>
            </div>
            </div>
            <br>

        <% end %>
    <% end %>
<% else %>

    <b>Работа в анонимном режиме запрещена или к вашему АРМ не привязаны РАБОЧИЕ МЕСТА </b>

<% end %>
<br>
<div data-scroll="true"></div>
<% if current_user %>

<% else %>
    <%= link_to 'Авторизация', new_user_session_path, :class => 'btn btn-success pull-right' %>
<% end %>
<script type="text/javascript">
    $('#krest_mini').addClass('active');
    $(document).ready(function () {
        var delay = false;

        $(document).on('mousewheel DOMMouseScroll', function (event) {
            console.log("mouse wheel")
            event.preventDefault();
            if (delay) return;

            delay = true;
            setTimeout(function () {
                delay = false
            }, 200)

            var wd = event.originalEvent.wheelDelta || -event.originalEvent.detail;

            var a = $.find('[data-scroll="true"]');
            if (wd < 0) {
                for (var i = 0; i < a.length; i++) {
                    var t = a[i].getClientRects()[0].top;
                    if (t >= 40) break;
                }
            }
            else {
                for (var i = a.length - 1; i >= 0; i--) {
                    var t = a[i].getClientRects()[0].top;
                    if (t < -20) break;
                }
            }
            $('html,body').animate({
                scrollTop: a[i].offsetTop
            });
        });
    });
</script>