<%= render :partial => 'work/menu' %>

<% if @allow_anon %>
    <br>
    <%= link_to 'Новое нарушение', new_issue_path, :class => 'btn btn-success btn-sm' %>
    <br>
    <div class="row">
        <div class="col-lg-8">
            <%= render :partial => 'work/krest_view' %>
        </div>
        <div class="col-lg-4">
            <% if current_user %>
                <div class="dynamic">
                    <%= render :partial => 'turn_types/day_view' %>
                </div>
            <% end %>
        </div>
    </div>

<% else %>
    <b>Работа в анонимном режиме запрещена или к вашему АРМ не привязаны РАБОЧИЕ МЕСТА </b>
<% end %>
<br>

<% if current_user %>

<% else %>

    <%= link_to 'Авторизация', new_user_session_path, :class => 'btn btn-success pull-right' %>
<% end %>


<script type="text/javascript">
    $(document).ready(function () {
        $('#krest_ws').addClass("active")
        setInterval(function () {
            $('.dynamic').load('turn_info');
        }, 60000);
    })


</script>