<p id="notice"><%= notice %></p>

<h1>Список рабочих мест</h1>
<%= link_to 'Новое рабочее место', new_work_space_path, :class => 'btn btn-success btn-sm' %>
<br>
<br>
<table class=" table table-striped table-hover">
    <th>Наименование</th>
    <th>Код</th>
    <th>Короткое имя</th>
    <th>Подразделение</th>
    <th>Активно</th>
    <th>Действия</th>
    <% @work_spaces.each do |work_space| %>
        <tr>
            <td><%= work_space.name %></td>
            <td><%= work_space.code %></td>
            <td><%= work_space.short_name %></td>
            <td><%= work_space.subdivision.name %></td>
            <td>
                <% if work_space.is_used? %>
                    <span class="icon-ok btn"></span>
                <% else %>
                    <span class="icon-off"></span>
                <% end %>
            </td>
            <td>
                <div class="btn-group">
                    <a href="#" class="btn btn-primary btn-group-sm btn-sm">Действия</a>
                    <a href="#" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><%= link_to 'Редактировать', edit_work_space_path(work_space), :class => '' %></li>

                        <li class="divider"></li>
                        <li><%= link_to 'Удалить', work_space, method: :delete, data: {confirm: 'Are you sure?'}, :class => '' %></li>
                    </ul>
                </div>
            </td>

        </tr>
    <% end %>

</table>

<br>
<script type="text/javascript">
    $('#workspaces').addClass('active');
</script>

