<%= render :partial => 'control_list_factors/menu'%>
<p id="notice"><%= notice %></p>

<h1>Listing Control List Factors</h1>

<table>
  <thead>
    <tr>
      <th>Order num</th>
      <th>Factor</th>
      <th>Is active</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @control_list_factors.each do |control_list_factor| %>
      <tr>
        <td><%= control_list_factor.order_num %></td>
        <td><%= control_list_factor.factor %></td>
        <td><%= control_list_factor.is_active %></td>
        <td><%= control_list_factor.comment %></td>
        <td><%= link_to 'Show', control_list_factor %></td>
        <td><%= link_to 'Edit', edit_control_list_factor_path(control_list_factor) %></td>
        <td><%= link_to 'Destroy', control_list_factor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Control list factor', new_control_list_factor_path %>
<script type="text/javascript">
    $('#factors').addClass('active')
</script>
