<p id="notice"><%= notice %></p>

<h1>Listing Control List Quarters</h1>

<table>
  <thead>
    <tr>
      <th>Form date</th>
      <th>Author</th>
      <th>Subdivision</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @control_list_quarters.each do |control_list_quarter| %>
      <tr>
        <td><%= control_list_quarter.form_date %></td>
        <td><%= control_list_quarter.author %></td>
        <td><%= control_list_quarter.subdivision %></td>
        <td><%= link_to 'Show', control_list_quarter %></td>
        <td><%= link_to 'Edit', edit_control_list_quarter_path(control_list_quarter) %></td>
        <td><%= link_to 'Destroy', control_list_quarter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Control list quarter', new_control_list_quarter_path %>
