<p id="notice"><%= notice %></p>

<h4 style="color: orange">Список участков (<%= @areas.count %>)</h4>

<%= link_to 'Новый участок', new_area_path,:class => 'btn btn-success btn-sm' %>
<br>
<br>
<table class="table table-hover table-striped">
    <th>Наименование</th>
    <th>Короткое имя</th>
    <th>Управление</th>
    <th colspan="2"  >Действия</th>

    <tbody>
    <% @areas.each do |area| %>
        <tr>
            <td><%= area.name %></td>
            <td><%= area.short_name %></td>
            <td><%= area.management.name %></td>

            <td><%= link_to '', edit_area_path(area), :class => 'btn glyphicon glyphicon-edit btn-primary  btn-sm' %>
                <%= link_to '', area, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn  glyphicon btn-danger glyphicon-remove btn-sm ' %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>
<script type="text/javascript">
    $('#areas').addClass('active');
</script>
