<h4 style="color: orange">Report#index</h4>
<% quarter1s, quarter1e=DateTime.current.beginning_of_year.at_beginning_of_quarter, DateTime.current.beginning_of_year.at_end_of_quarter %>
<% quarter2s, quarter2e=(DateTime.current.beginning_of_year+4.months).at_beginning_of_quarter, (DateTime.current.beginning_of_year+4.months).at_end_of_quarter %>

<% quarter3s, quarter3e=(DateTime.current.beginning_of_year+8.months).at_beginning_of_quarter, (DateTime.current.beginning_of_year+8.months).at_end_of_quarter %>
<% quarter4s, quarter4e=(DateTime.current.beginning_of_year+11.months).at_beginning_of_quarter, (DateTime.current.beginning_of_year+11.months).at_end_of_quarter %>
<% quarter1_total= ControlListQuarter.in_list(:from => quarter1s, :to => quarter1e, :start_bal => 0, :stop_bal => 101).count %>
<% quarter2_total= ControlListQuarter.in_list(:from => quarter2s, :to => quarter2e, :start_bal => 0, :stop_bal => 101).count %>
<% quarter3_total= ControlListQuarter.in_list(:from => quarter3s, :to => quarter3e, :start_bal => 0, :stop_bal => 101).count %>
<% quarter4_total= ControlListQuarter.in_list(:from => quarter4s, :to => quarter4e, :start_bal => 0, :stop_bal => 101).count %>

<table border="1" class="table table-responsive">
    <thead>
    <tr>
        <td></td>
        <td colspan="12">Количество производственных участков</td>
    </tr>
    <tr>
        <td>Оцениваемый
            период <br>
            Оценка
        </td>
        <td>Всего</td>
        <td>от пред.</td>
        <td>% от общего кол-ва</td>
        <td>Всего</td>
        <td>от пред.</td>
        <td>% от общего кол-ва</td>
        <td>Всего</td>
        <td>от пред.</td>
        <td>% от общего кол-ва</td>
        <td>Всего</td>
        <td>от пред.</td>
        <td>% от общего кол-ва</td>
    </tr>
    </thead>
    <tr>
        <td>Полностью соответствует
            от 90 до 100 баллов
        </td>
        <!-- 1 квартал -->

        <td><%= ControlListQuarter.in_list(:from => quarter1s, :to => quarter1e, :start_bal => 90, :stop_bal => 101).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter2s, :to => quarter2e, :start_bal => 90, :stop_bal => 101).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter3s, :to => quarter3e, :start_bal => 90, :stop_bal => 101).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter4s, :to => quarter4e, :start_bal => 90, :stop_bal => 101).count %></td>
        <td></td>
        <td></td>

    </tr>
    <tr>
        <td>В основном соответствует
            от 80 до 90 баллов
        </td>
        <td><%= ControlListQuarter.in_list(:from => quarter1s, :to => quarter1e, :start_bal => 80, :stop_bal => 90).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter2s, :to => quarter2e, :start_bal => 80, :stop_bal => 90).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter3s, :to => quarter3e, :start_bal => 80, :stop_bal => 90).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter4s, :to => quarter4e, :start_bal => 80, :stop_bal => 90).count %></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Частично соответствует
            от 60 до 80 баллов
        </td>
        <td><%= ControlListQuarter.in_list(:from => quarter1s, :to => quarter1e, :start_bal => 60, :stop_bal => 80).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter2s, :to => quarter2e, :start_bal => 60, :stop_bal => 80).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter3s, :to => quarter3e, :start_bal => 60, :stop_bal => 80).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter4s, :to => quarter4e, :start_bal => 60, :stop_bal => 80).count %></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Не соответствует
            ниже 60 баллов
        </td>
        <td><%= ControlListQuarter.in_list(:from => quarter1s, :to => quarter1e, :start_bal => 0, :stop_bal => 60).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter2s, :to => quarter2e, :start_bal => 0, :stop_bal => 60).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter3s, :to => quarter3e, :start_bal => 0, :stop_bal => 60).count %></td>
        <td></td>
        <td></td>
        <td><%= ControlListQuarter.in_list(:from => quarter4s, :to => quarter4e, :start_bal => 0, :stop_bal => 60).count %></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Всего производственных участков
        </td>
        <td><%= quarter1_total %></td>
        <td></td>
        <td></td>
        <td><%= quarter2_total %></td>
        <td></td>
        <td></td>
        <td><%= quarter3_total %></td>
        <td></td>
        <td></td>
        <td><%= quarter4_total %></td>
        <td></td>
        <td></td>
    </tr>
</table>


<script>
    $('#reports').addClass('active')
</script>
