<p id="notice"><%= notice %></p>

<p>
  <strong>Order num:</strong>
  <%= @control_list_factor_group.order_num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @control_list_factor_group.name %>
</p>

<%= link_to 'Edit', edit_control_list_factor_group_path(@control_list_factor_group) %> |
<%= link_to 'Back', control_list_factor_groups_path %>
