<%= form_for(@exclusion_day) do |f| %>
  <% if @exclusion_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exclusion_day.errors.count, "error") %> prohibited this exclusion_day from being saved:</h2>

      <ul>
      <% @exclusion_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select :day %>
  </div>



    <div class="actions">
    <%= f.submit %>
  </div>




<% end %>
