<!DOCTYPE html>
<html>
<head>
    <title>КСОТ</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
        .row-centered {
            text-align: center;
            border-spacing: 1px;
        }

        .col-centered {
            display: inline-block;
            float: none;
            /* reset the text-align */
            text-align: left;
            /* inline-block space fix */
            /* inline-block space fix */
            margin-right: -1px;

        }
    </style>
</head>
<body>


<div style="margin: 12px">
    <div class="row">
        <div class="col-md-8">
            <h3 style="font-family: 'RZD Font'">Система автоматизированного учета результатов комплексной оценки
                состояния охраны труда </h3>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-1"><%= image_tag 'logo.png', :height => '50px' %></div>
    </div>
    <div class="row">
        <hr style="border: none; /* Убираем границу */
                background-color: orange; /* Цвет линии */
                color: orangered; /* Цвет линии для IE6-7 */
                height: 4px">
    </div>
    <ul class="nav nav-tabs" id="myTab">
        <li id="krest"><%= link_to 'Нарушения', work_by_day_in_month_path %></li>


        <% unless @logged_user.nil? %>
            <script type="text/javascript">
                var original_html= $('#krest').html()
                monitor_issues()
                function monitor_issues() {

                    $.getJSON('/issues/unreaded.json').done(function (json) {
                        var  i_count=json['count']
                        console.log("my iisues: count", i_count)
                        if (i_count > 0) {
                            $('#krest').html('<a href="/work/by_day_in_month">Нарушения<span class="badge">'+i_count.toString()+'</span></a>')
                        } else {
                            $('#krest').html(original_html)
                        }
                    })

                }
                setInterval(monitor_issues, 30000)

            </script>
            <% if @can_add_issue %>
                <li id="issues"><%= link_to 'Ведомость', issues_path %>
            <% end %>
            <% if @can_manage_org_structure || @subdivision_owner || @area_owner %>
                <li id="users"><%= link_to 'Сотрудники', users_path %></li>

            <% end %>
            <li id="profile"><%= link_to 'Профиль', user_url(@logged_user.id) %></li>

            <% if @can_fill_control_list %>
                <li id="clfactors"><%= link_to 'КЛ (месяц)', control_list_months_path %>

            <% end %>
            <% if @can_fill_control_list %>
                <li id="clauarterfactors"><%= link_to 'КЛ (Квартал)', control_list_quarter_factors_path %>

            <% end %>

            <% if @can_manage_org_structure %>
                <li id="turns"><%= link_to 'Смены', turn_schemes_path %> </li>
                <li id="autoworkspaces"><%= link_to 'АРМ', auto_work_spaces_path, :id => 'arm' %></li>

                <li id="org"> <%= link_to 'Орг структура', work_spaces_path %></li>


                <script type="text/javascript">
                    reloadData()
                    function reloadData() {

                        $.getJSON('/auto_work_spaces.json').done(function (json) {
                            var count = json.unassigned.length
                            console.log("unassigned: count", json.unassigned.length)
                            if (count > 0) {
                                $('#arm').html('АРМ<span class="badge">' + count.toString() + '</span>')
                            } else {
                                $('#arm').html('АРМ')
                            }
                        })

                    }
                    setInterval(reloadData, 30000)

                </script>
            <% end %>

            <li class="pull-right">

                <div>Сотрудник:
                    <b> <%= @logged_user.full_name %> </b><%= link_to 'Выйти', destroy_user_session_path, :method => :get, :class => 'btn btn-sm btn-warning' %>
                </div>

            </li>


        <% end %>

    </ul>
    <%= yield %>
</div>
</body>
</html>
