<!DOCTYPE html>
<html>
<head>
    <title>КСОТ</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


</head>
<body>
<div style="margin: 20px">
    <h3>Система автоматизированного учета результатов комплексной оценки состояния охраны труда</h3>
    <ul class="nav nav-tabs" id="myTab">
        <li id="krest"><%= link_to 'Нарушения', work_user_info_path %></li>
        <% unless @logged_user.nil? %>
            <% if @can_add_issue %>
                <li id="issues"><%= link_to 'Ведомость', issues_path %>
            <% end %>
            <% if @can_manage_org_structure %>
                <li id="users"><%= link_to 'Сотрудники', users_path %></li>


            <% end %>
            <li id="profile"><%= link_to 'Профиль', user_url(@logged_user.id) %></li>
            <% if @can_manage_org_structure %>
                <li id="issuetypes"><%= link_to 'Виды нарушений', issue_types_path %></li>
                <li id="workspaces"><%= link_to 'Рабочие места', work_spaces_path %></li>
                <li id="autoworkspaces"><%= link_to 'АРМ', auto_work_spaces_path, :id => 'arm' %></li>
                <li id="turns"><%= link_to 'Схема смен', turn_types_path %>
                <li id="subdivisions"><%= link_to 'Подразделения', subdivisions_path %></li>
                <li id="areas"><%= link_to 'Участки', areas_path %></li>

                <!--<li id="managements"><%= link_to 'Дирекции', managements_path %></li>-->

                <script type="text/javascript">
                    reloadData()
                    function reloadData() {

                        $.getJSON('/auto_work_spaces.json').done(function (json) {
                            var count = json.unassigned.length
                            console.log("unassigned: count", json.unassigned.length)
                            if (count > 0) {
                                $('#arm').html('АРМ<span class="badge">' + count.toString() + '</span>')
                            } else {
                                $('#arm').html('АРМ')
                            }
                        })

                    }
                    setInterval(reloadData, 30000)

                </script>
            <% end %>






            <li class="pull-right">

                <div>Сотрудник:
                    <b> <%= @logged_user.full_name %> </b><%= link_to 'Выйти', destroy_user_session_path, :method => :get, :class => 'btn btn-sm btn-warning' %>
                </div>


            </li>


        <% end %>

    </ul>
    <%= yield %>
</div>
</body>
</html>
