<%= form_for(@management) do |f| %>
    <% if @management.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@management.errors.count, "error") %> prohibited this management from being saved:</h2>

            <ul>
                <% @management.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="container-fluid">

        <div class="form-group">
            <%= f.label 'Имя' %>
            <%= f.text_field(:name, {:class => 'form-control', :placeholder => 'наименование'}) %>
        </div>
        <div class="form-group">
            <%= f.label 'Короткое имя' %>
            <%= f.text_field(:short_name, {:class => 'form-control', :placeholder => 'краткое наименование'}) %>
        </div>
        <div class="actions">
            <%= f.submit({:class => 'btn btn-primary'}) %>
        </div>

    </div>
<% end %>
<script type="text/javascript">
    $('#managements').addClass('active');
</script>
