<p id="notice"><%= notice %></p>

<h1>Список дирекций</h1>
<%= link_to 'Новая дирекция', new_management_path, :class => 'btn btn-success btn-sm' %>
<br>
<br>
<table class="table">

    <th>Имя</th>
    <th>Краткое имя</th>
    <td>Участков</td>
    <td>Подразделений</td>
    <th>Действия</th>
    <% @managements.each do |management| %>
        <tr>
            <td><%= management.name %></td>
            <td><%= management.short_name %></td>
            <td><%= management.areas.count %></td>
            <td><%= management.subdivisions.count %></td>
            <td><%= link_to 'Редактировать', edit_management_path(management), {:class => 'btn btn-info'} %>
                <%= link_to 'Удалить', management, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %></td>
        </tr>
    <% end %>

</table>

<br>


<script type="text/javascript">
    $('#managements').addClass('active');
</script>
